 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

nav {
    max-width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 91px;
    flex-wrap: wrap;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 11;
}

nav button {
    position: relative;
    z-index: 11;
}

.main {
    background-image: url("assests/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(210vh, 100vw);
    height: 116vh;
    position: relative;
}

.main .box {
    height: 116vh;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    top: 0;
    background-image: radial-gradient(#110f0f, black, black);
}


.hero {
    max-width: 81vw;
    margin: auto;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: 901;
    font-size: 48px;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: -1.7px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.8;
}


.line {
    height: 8px;
    background-color: rgba(65, 64, 64, 0.48);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid grey;
    color: white;
    font-size: 16px;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 13px 22px;
    font-size: 24px;
    border-radius: 4px;
    border: none;
}


.red-btn-sn {
    background-color: red;
    color: white;
    border: none;
}

.email-add {
    padding: 14px 12px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid grey;
    margin: 0px 5px;
    width: 24rem;
    color: white;
}

::placeholder {
    font-size: 16px;
    /* color: rgba(235, 221, 221, 0.7); */
    letter-spacing: 0.4px;

}


.btn svg {
    margin: -2px 7px;
}

.multiplelang {
    margin: 0px 15px;
    border-radius: 4px;
    padding: 6px 6px;
}

#signin {
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 14px;
    cursor: pointer;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* height: 30rem; */
}

.secound .imganddownloadbox {
    height: 100px;
    /* background: #973030; */
    z-index: 1;
    position: relative;
    bottom: 138px;
    border: 3px solid rgba(151, 149, 149, 0.48);
    background: black;
    width: 264px;
    /* right: 84px; */
    left: 85px;
    border-radius: 14px;
}

.secimg {
    position: relative;
}

.secimg img {
    position: relative;
    width: 440px;
    z-index: 10;
}

.secound .secimg img {
    z-index: 0;
}

.secimg video {
    width: 329px;
    position: absolute;
    top: 115px;
    right: 61px;
}

.secimg .secoundvideo {
    width: 281px;
    position: absolute;
    top: 80px;
    right: 90px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
    flex-basis: 50%;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    padding: 1.1rem 0px;
}

section.first>div :nth-child(2) {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: .5px;
    line-height: 30px;
}

.secound .imganddownloadbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 55px;
}

.text {
    width: 8vw;
    /* padding: 0px 68px; */
    margin: 0px 13px;
    font-size: 0px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.text .firstline {
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 1.1rem 0px !important;
    letter-spacing: 0px;
    line-height: 0;
}

.text .secondline {
    font-size: 14px;
    color: #0071eb;
    font-weight: 400;
    padding: 0px;
    letter-spacing: 0px;
    line-height: 0;
    font-size: 14px !important;
    font-weight: normal;
    letter-spacing: .1px !important;
    line-height: 7px !important;
}

.downloadgif {
    width: 3rem;
    height: 3.75rem;
    outline: 2px solid rgb(0, 0, 0);
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
}



.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: -1.7px;
    margin-top: 50px;
    margin-bottom: 16px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 30px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.5s ease-out;
    letter-spacing: .3px;
}

.faqbox svg {
    filter: invert(1);

}

.faqbox:hover {
    background-color: #414141;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.contact span {
    color: white;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
}

.nextbtns {
    margin: 1rem 0 5rem 0;
}

footer {
    color: white;
    max-width: 80vw;
    margin: 2px auto;
}

.Questions {
    padding: 34px 0px;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5rem;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer_item .multiplelang {
    margin: 0px 0px;
    border-radius: 4px;
    padding: 6px 6px;
    text-align: left;
    width: 126px;
}

@media screen and (max-width:600px) {

    .hero> :nth-child(1) {
        font-size: 30px;
        font-size: 2rem;
        margin-top: 2.5rem;

    }

    .hero> :nth-child(2) {
        font-size: 16px;

    }

    .hero> :nth-child(3) {
        font-size: 16px;
        line-height: 1.2;

    }

    .hero-buttons {
        flex-direction: column;
    }

    .nav {
        max-width: 90vw;
    }

    .red-btn{
        margin: 1rem auto;
    }

    .email-add{
        width: 20rem;
    }

    .first {
        flex-wrap: wrap;
    }

    .secound{
        flex-wrap: wrap-reverse;
    }

    .secound .imganddownloadbox {   
        justify-content: space-evenly;
    }

    .text {
        width: 24vw;
    }

    .third .secimg img {
        width: 420px;
    }

    .third .secimg .secoundvideo {
        width: 247px;
    }

    .fourth{
        flex-wrap: wrap-reverse;
    }

    .faqbox{
        font-size: 1.2rem;
    }

    .faqbox svg {
        width: 2rem;
    }

    .contact span {
        text-align: center;
        font-size: 17px;
    }

    .nextbtns {
        margin: 20px auto;
        max-width: 70vw;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer a {
        font-size: 12px;
    }

    .footer_item {
        align-items: center;
        gap: 20px;
    }
}

@media (min-width: 600px) and (max-width:900px) {

    .hero> :nth-child(1) {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .hero> :nth-child(2) {
        font-size: 1.2rem;
    }

    .hero> :nth-child(3) {
        font-size: 1.2rem;
        line-height: 1.2;

    }

    /* .first {
        flex-direction: column;
    } */

    .first {
        margin-bottom: 4rem;
        flex-wrap: wrap;
    }

    .secound{
        flex-wrap: wrap-reverse;
    }

    .third{
        flex-wrap: wrap;
    }

    .fourth{
        flex-wrap: wrap-reverse;
    }


    .email-add {
        width: 200px;
    }

    section.first>div :nth-child(2) {
        font-size: 20px;
    }

    section.first>div {
        padding: 0px 0px;
        position: relative;
        top: 40px;
    }

    .secimg video {
        top: 85px;
        right: 52px;
    }
    


    /* section.first>div :nth-child(1) {
        font-size: 28px;
    }

    section.first>div :nth-child(2) {
        font-size: 19px;
    } */

    /* .nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
 */
    
    .contact span {
        text-align: center;
    }
}
