@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Roboto&display=sswap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

nav {
    max-width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 62px;
}

.main {
    background-image: url("assests/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.54;
    background-color: black;
    position: absolute;
    top: 0;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.line {
    height: 5px;
    background-color: rgb(65, 64, 64);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    /* background-color: white; */
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid grey;
    color: white;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}


.red-btn-sn {
    background-color: red;
    color: white;
    border: none;
}

.email-add {
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid grey;
    margin: 0px 8px;
    width: 22rem;
}

::placeholder {
    font-size: px;
    color: rgba(235, 221, 221, 0.7);
}
